* {
  margin: 0%;
  padding: 0%;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  background: #f5f5f5;;
  padding: .4rem 4.5rem;
  max-height: 100%;
  margin-bottom: 50px;
}

nav .home::before {
  max-height: 10px;
}

nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li{
  padding: 1rem 0;
  cursor: pointer;
}

nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 1rem;
  text-align: center;
  order: 3;
}

nav ul li.logo{
  flex: 2;
  color: #8f8f8f;;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: #8f8f8f;
  font-size: 1.15rem;
  text-decoration: none;
  transition: .4s;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #232323;
    color: #ccc;
}

.logo {
    letter-spacing: 3px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navlink {
    list-style: none;
    margin: 0;
}

.navlink a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;
}

.burger {
    font-size: 1.2em;
    display: none;
} 
  
  /*
    Responsive
  */
  
  @media all and (max-width: 900px){
    nav{
      padding: 0 2rem;
      border-radius: 0;
      margin: 0;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    nav ul li.items{
      width: 100%;
      display: none;
    }
    nav ul li.items.show{
      display: block;
    }
    nav ul li.btn{
      display: block;
    }
    nav ul li:hover > ul{
        z-index: 100;
        width: inherit;
    }

    .burger {
      display: block;
    }
    .nav {
        margin: 0;
        background: #343434;
        position: absolute;
        right: -100%;
        top: 70px;
        width: 50%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 400ms;
    }
    .navlink {
        text-align: center;
    }

    .nav-active {
        right: 0;
    }
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }