
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin-bottom: 50px;
}
.productos .item {
    border: black 2px solid;
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.productos .item input {
    margin: 7px 7px 0 auto;
}
.productos .item .img {
    font-size: 600%;
    text-align: center;
}
.productos .item h5 {
    padding: 5px 0;
    background-color: lightgray;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
.productos .item p {
    text-align: justify;
    margin: 0;
    padding: 5px;
}